body { background: #adcec9; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 32px; display: flex; }
.block-helper-0 { color: #6fa3ee; font-size: 16px; margin-bottom: 5px; }
.block-sms-1 { color: #d87d37; font-size: 19px; margin-bottom: 5px; }
.block-metrics-2 { color: #c2ea02; font-size: 16px; margin-bottom: 5px; }
.block-cart-3 { color: #9e1b78; font-size: 21px; margin-bottom: 5px; }
.block-order-4 { color: #caad1d; font-size: 12px; margin-bottom: 5px; }